.tw-followCard {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgb(247, 249, 249);
  color: rgb(15, 20, 25);
  font-size: 15px;
  justify-content: space-between;
  padding: 8px 12px;
}

.tw-followCard:hover {
  transition: 0.3s ease background-color;
  background-color: rgb(237, 237, 237);
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-user {
  color: rgb(83, 100, 113);
}

.tw-followCard-avatar {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 1000px;
  background-color: rgb(238, 238, 238);
}

.tw-followButton {
  cursor: pointer;
  margin-left: 16px;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  transition: 0.3s ease background-color;
}

.tw-followButton.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #373737;
  width: 140px;
}

.tw-followButton.is-following:hover {
  background-color: rgba(255, 31, 31, 0.155);
  border: 1px solid red;
  color: red;
}

.tw-followButton.is-following:hover .tw-followButton-text {
  display: none;
}

.tw-followButton.is-following:hover .tw-followButton-stopFollow {
  display: block;
}

.tw-followButton-stopFollow{
  display: none;
}